.centered-section {
    padding: 10px 80px 30px 80px;
    border-radius: 10px;
}

h1 {
    font-family: "Montagu Slab";
    font-size: 2.8rem;
    font-weight: 900;
    line-height: 1.1;
    padding-top: 50px;
    padding-bottom: 20px;
    color: #007F47; /* Keep h1 color as is */
}

h3 {
    font-family: "Montagu Slab";
    font-weight: 900;
    line-height: 1.1;
    padding-top: 50px;
    padding-bottom: 20px;
    color: #ffffff; /* Keep h3 color as white */
}

p {
    font-family: "Molengo", sans-serif;
    font-weight: 500;
    font-style: normal;
    padding-bottom: 20px;
}

#story p {
    color: black; /* Set paragraph text color in the "story" section to black */
}

#statistics p {
    color: #ffffff; /* Set paragraph text color in the "statistics" section to white */
}

#statistics {
    background-color: #007F47;
}

#testimonial {
    padding: 0px 50px 40px 50px;
}

.col {
    padding: 20px; 
}

.centered-section-2 {
    padding: 10px 160px 30px 160px;
    border-radius: 10px;
}

