/* Navigation Bar */

.navbar {
    padding-bottom: 2.5rem;
    padding-right: 20px;
    /*margin-left: 80px;*/
}

/* .navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: 700;
} */

.nav-item {
    padding: 0 12px;
}

.navbar .nav-item-img {
    padding: 0 10px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Molengo";
    font-weight: 800;
    color: #000000;

}

.nav-link:hover {
    color: #007F47;
}


.heart-icon {
    height: 30px;
    /* padding-right: 14px */
}

.profile-icon {
    height: 30px
}

.icon-container {
    position: relative;
    display: inline-block;
}

.icon-container img {
    width: 30px;
    height: 30px;
}

/* Initially hide hover icons */
.icon-container .heart-icon-hover,
.icon-container .profile-icon-hover {
    display: none;
}

/* Show hover icons on hover */
.icon-container:hover .heart-icon {
    display: none;
}

.icon-container:hover .heart-icon-hover {
    display: inline-block;
}

.icon-container:hover .profile-icon {
    display: none;
}

.icon-container:hover .profile-icon-hover {
    display: inline-block;
}

#chefbot-icon {
    position: fixed;
    bottom: -130px;
    right: -140px;
    transform: scale(0.12); 
    cursor: pointer; 
    z-index: 1000;
}

#chefbot-textbox {
    position: fixed;
    bottom: -80px;
    right: -100px;
    transform: scale(0.55);
    display: none;
    margin-bottom: 90px;
    z-index: 1000;
}

