{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Cookify</title>

    <!-- Bootstrap setup -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>

    <!-- CSS Stylesheets -->
    {% block css %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">
    {% endblock %}

    <!-- Google fonts -->
    <link href='https://fonts.googleapis.com/css?family=Montagu Slab' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Molengo' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Montagu+Slab:opsz,wght@16..144,100..700&family=Montserrat:wght@100;400;900&family=Ubuntu:wght@300;400;700&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Molengo&family=Montagu+Slab:opsz,wght@16..144,100..700&family=Montserrat:wght@100;400;900&family=Ubuntu:wght@300;400;700&display=swap"
        rel="stylesheet">

    <!-- Fontawesome icons -->
    {% block js %}
    <script src="https://kit.fontawesome.com/8a83b1732f.js" crossorigin="anonymous"></script>
    {% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    <style>
        /* CSS for positioning ChefBot icon */
        #chefbot-icon {
            position: fixed;
            bottom: -130px;
            right: -140px;
            transform: scale(0.12); /* Make the icon smaller */
            cursor: pointer; /* Change cursor to pointer on hover */
            z-index: 1000;
        }

        /* CSS for styling the textbox */
        #chefbot-textbox {
            position: fixed;
            bottom: -80px;
            right: -100px;
            transform: scale(0.55);
            display: none;
            margin-bottom: 90px;
            z-index: 1000;
        }

    </style>
    
         <!-- Add ChefBot icon at the bottom right corner -->
         <div id="chefbot-icon" onclick="toggleTextBox()">
            <img src="{% static 'images/chefbot_icon.png' %}" alt="ChefBot">
        </div>
    
        <!-- Add expandable textbox for user input -->
        <div id="chefbot-textbox">
            <textarea id="user-question" rows="4" cols="50" placeholder="Ask ChefBot anything..."></textarea>
            <button id="submit-question" onclick="submitQuestion()">Ask</button>
        </div>

        <script>
            // Function to toggle visibility of textbox
            function toggleTextBox() {
                var textBox = document.getElementById("chefbot-textbox");
                textBox.style.display = (textBox.style.display == "block") ? "none" : "block";
                // If textbox is visible, populate with default message
                if (textBox.style.display == "block") {
                    document.getElementById("user-question").value = "Hi, I am ChefBot. How can I help?";
                }
            }
        </script>

</head>

{% block content %}
<body>
    <section id="navbar">
        <div class="navbar-container">

            <!-- Nav Bar -->
            <nav class="navbar navbar-expand-lg navbar-dark">
                <!-- <a class="navbar-brand" href="">Cookify</a> -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'rango:homepage' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{%url 'rango:about' %}">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">Share Receipe</a>
                        </li>
                        <li class="nav-item-img">
                            <a class="nav-link" href="#">
                                <div class="icon-container" id="heart-icon-container">
                                    <img class="heart-icon" src="{% static 'images/like.png' %}" alt="Heart Icon">
                                    <img class="heart-icon-hover" src="{% static 'images/like-hover.png' %}" alt="Heart Icon Hover">
                                </div>
                            </a>
                        </li>
                        <li class="nav-item-img">
                            <a class="nav-link" href="{%url 'rango:profile' %}">
                                <div class="icon-container" id="profile-icon-container">
                                    <img class="profile-icon" src="{% static 'images/avatar.png' %}" alt="Profile Icon">
                                    <img class="profile-icon-hover" src="{% static 'images/avatar-hover.png' %}" alt="Profile Icon Hover">
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            
    </section>

</body>

{% block content-it %}
{% endblock %}
{% endblock %}