{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recipe</title>
    <link rel="stylesheet" href="{% static 'css/recipe.css' %}">
</head>
<body>
 <header>
        <a class="fan" ><img src="" class="tu"/> </a>
        <a class="nav-item" href="{% url 'rango:homepage' %}">HOME</a>
        <a class="nav-item" href="#">ABOUT US</a>
        <a class="nav-item" href="#">SHARE RECIPE</a>
        <a class="nav-item" href="#"><img src="" alt="photograph" class="tu"/></a>
        <a class="nav-item" ><img src="" alt="photograph" class="tu"/></a>
    </header>
    <main>
        <div class="box">
            <div class="boxtu">
                <img src="..." class="recipe-img" alt="..." style="width: 450px;height: 400px;"/>
            </div>
            <div class="boxname">
                <div class="boxnamezi">
                    TOMATO SPAGHETTI
                    <div class="namexzi">
                        <span>4.2</span>
                        <span><img src="{% static 'images/wujiaoxing.png' %}"
                                   style="width: 20px;height: 20px;"/> </span>
                        <span><img src="{% static 'images/wujiaoxing.png' %}"
                                   style="width: 20px;height: 20px;"/> </span>
                        <span><img src="{% static 'images/wujiaoxing.png' %}"
                                   style="width: 20px;height: 20px;"/> </span>
                        <span><img src="{% static 'images/wujiaoxing.png' %}"
                                   style="width: 20px;height: 20px;"/> </span>
                        <span>(11 reviews)</span>
                    </div>
                </div>
                <img src="" style="width: 35px;height: 35px;float: left;margin-left:8px;"/>
            </div>
            <div class="boxjie">
                <div style="font-style: italic;font-weight: 900;padding-left: 20px;margin-top: 10px;margin-bottom: 10px;">Introduce</div>
                <div style="font-style: italic;padding-left: 20px;">Spaghetti with tomatoes is a simple and delicious Italian classic.
                    It combines fresh tomatoes, spices and pasta for a silky, sweet and sour taste.  This dish is packed with vitamin C and antioxidants,
                    making it a quick and healthy dinner choice.
                    The preparation process is simple and suitable for novice cooks and busy lifestyles. </div>
            </div>
            <div class="boxdi">
                <div><img src="{% static 'images/katong.png' %}" style="width:60px;height: 65px;float: left;"/></div>
                <div class="boxdizi">Jacky</div>
            </div>
            <div class="boxdi1">
                <div style="width:220px;height:65px; border-right: 2px solid black;float: left;">
                    <img src="" style="width:50px;height: 50px;float: left;padding-top: 8px;padding-left: 30px;"/>
                    <div style="float: left; margin-top: 20px; margin-left: 20px;font-size: 20px;">30~40min</div>
                </div>

                <div style="float: left;width:220px;height:65px;line-height: 20px;">
                    <ul>
                        <li>Sweet and sour taste</li>
{#                        <li>dolor sit amet</li>#}

                    </ul>
                </div>
            </div>
        </div>
    </main>

    <div class="zhuti">
        <div class="zhuti1">
            <div style="font-size: 20px;font-weight: 900;font-style: italic;padding-left: 20px;margin-top: 30px;margin-bottom: 10px;">INGREDIENTS</div>
            <ul>
                <li style="margin-left: 30px;font-style: italic;">Pasta: 250g  </li>
                <li style="margin-left: 30px;font-style: italic;">Ketchup: 200g  </li>
                <li style="margin-left: 30px;font-style: italic;">Olive oil: moderate  </li>
                <li style="margin-left: 30px;font-style: italic;">Garlic: 2 cloves, chopped  </li>
                <li style="margin-left: 30px;font-style: italic;">Onion: 1, diced  </li>
                <li style="margin-left: 30px;font-style: italic;">Fresh tomatoes: 2, diced  </li>
                <li style="margin-left: 30px;font-style: italic;">Salt: Moderate    </li>
                <li style="margin-left: 30px;font-style: italic;">Pepper: To taste   </li>
                <li style="margin-left: 30px;font-style: italic;">Dried basil: Moderate   </li>
                <li style="margin-left: 30px;font-style: italic;">Dried oregano: In moderation   </li>
                <li style="margin-left: 30px;font-style: italic;">Parmesan cheese: In moderation  </li>

            </ul>
        </div>

        <div class="zhuti2">
            <div style="font-size: 20px;font-weight: 900;font-style: italic;padding-left: 20px;margin-bottom: 10px;">METHOD</div>
            <ul style="list-style-type: none;">
                <li style="margin-left: 30px;font-style: italic; padding-bottom: 15px;">1.First, boil enough water in a large pot.  Add a little salt and a few drops of olive oil, then place the pasta in the boiling water and cook for the time indicated on the package, until the pasta is tender but still al dente.  </li>
                <li style="margin-left: 30px;font-style: italic;padding-bottom: 15px;">2.Meanwhile, in a separate pan, heat the olive oil over medium heat.  Add the chopped garlic and onion and fry until soft and golden.  </li>
                <li style="margin-left: 30px;font-style: italic;padding-bottom: 15px;">3.Add diced fresh tomatoes and continue to fry until the tomatoes soften and release their juices.  </li>
                <li style="margin-left: 30px;font-style: italic;padding-bottom: 15px;">4.Add the tomato paste to the pan, add salt, pepper, basil and oregano, stir well, then turn down the heat and cook for about 10 minutes to thicken the sauce.  </li>
                <li style="margin-left: 30px;font-style: italic;padding-bottom: 15px;">5.When the pasta is cooked, drain it and add it to the tomato sauce and mix gently to make sure the pasta is well coated with tomato sauce.  </li>
                <li style="margin-left: 30px;font-style: italic;padding-bottom: 15px;">6.To serve, garnish with some Parmesan cheese. </li>
            </ul>
        </div>
    </div>


    <div class="dibu">
            <div style="font-size: 20px;font-weight: 900;font-style: italic;padding-left: 20px;padding-top: 30px;">
                REVIEWS
            </div>

            <div class="pinglun">
                <div>
                    <img src="{% static 'images/katong.png' %}" style="width: 110px;height: 110px;float: left;">
                    <div style="float: left;width: 700px;line-height: 20px;margin-top: 25px;margin-left: 20px;">
                        "Tomato pasta is one of my favorite simple, home-cooked dishes.  The process is simple, but the taste is anything but!  The sweet and sour of the fresh tomatoes match the texture of the pasta just right, leaving a lasting aftertaste.  It's a quick and delicious dinner option!"
                    </div>
                </div>
            </div>
        <div class="pinglun">
                <div>
                    <img src="{% static 'images/katong.png' %}" style="width: 110px;height: 110px;float: left;">
                    <div style="float: left;width: 700px;line-height: 20px;margin-top: 25px;margin-left: 20px;">
                        "This tomato pasta dish is the perfect combination of delicious and nutritious.  The fresh ingredients retain the tomato's natural aroma and nutrients, while the pasta fills the dish up.  The family loves this dish and it feels like home every time you cook it."
                    </div>
                </div>
            </div>
        <div class="pinglun">
                <div>
                    <img src="{% static 'images/katong.png' %}" style="width: 110px;height: 110px;float: left;">
                    <div style="float: left;width: 700px;line-height: 20px;margin-top: 25px;margin-left: 20px;">
                        "As a busy office worker, I am always looking for simple and delicious recipes.  Tomato pasta is exactly what I'm looking for!  Not only is it simple and easy to make, but it also tastes delicious and brings me a pleasant dining experience.  Highly recommended to all busy friends, whether you are a new chef or a veteran, you can easily enjoy this delicious dish."
                    </div>
                </div>
            </div>
    </div>

    <div class="add">
        <a class="revi">ADD YOUR REVIEW...</a>
    </div>

    <div class="sub">
        SUBMIT
    </div>
<script>
    document.addEventListener('DOMContentLoaded', function() {

        const savedIDString = sessionStorage.getItem('recipeId').replace(/"/g, '');
        const savedID = parseInt(savedIDString.trim(), 10);
        console.log(savedID);

        getRecipeDetails(savedID)
        async function getRecipeDetails(ID) {
            const apiKey = '4b90bda2e14846efb68086d1be36fe12'; 
            const apiUrl = `https://api.spoonacular.com/recipes/${ID}/information?apiKey=${apiKey}`;
            console.log('finding')
            try {
                const response = await fetch(apiUrl);
                const data = await response.json();
                displayRecipeDetails(data);
            } catch (error) {
                console.error('Error fetching recipe details:', error);
            }
        }

        function displayRecipeDetails(recipe) {

            const img = document.querySelectorAll('.recipe-img');
            img.forEach((imageElement) => {
                console.log('img load');
                imageElement.src = recipe.image;  
                    });
            
            var nameElement = document.querySelector('.boxnamezi');
            nameElement.innerHTML = '<strong>' + recipe.title + '</strong>';;
            


            const ingredientsDiv = document.querySelector('.zhuti1');
            const methodDiv = document.querySelector('.zhuti2');
            
            ingredientsDiv.innerHTML = '';
            methodDiv.innerHTML = '';

            let ingredientsHtml = '<h3>INGREDIENTS:</h3><ul>';
            recipe.extendedIngredients.forEach(ingredient => {
                ingredientsHtml += `<li>${ingredient.original}</li>`;
            });
            ingredientsHtml += '</ul>';

            let instructionsHtml = recipe.instructions ? `<h3>Method:</h3><p>${recipe.instructions}</p>` : '';
            
            ingredientsDiv.innerHTML = ingredientsHtml;
            methodDiv.innerHTML = instructionsHtml;

        }
    })
</script>
</body>
</html>