{% load static %}

<!-- Section for email identification functionality -->
<!DOCTYPE html>
<html style="font-size: 16px;" lang="en"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>waitForEmail</title>
    <link rel="stylesheet" href="{% static 'css/page.css' %}" media="screen">
<link rel="stylesheet" href="{% static 'css/forgot_1.css' %}" media="screen">
    <script class="u-script" type="text/javascript" src="{% static 'js/page.js' %}" defer=""></script>
   
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    
    
    
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": ""
}</script>
    </head>
  <body data-path-to-root="./" data-include-products="true" class="u-body u-xl-mode" data-lang="en"><header class="u-clearfix u-header u-header" id="sec-8216"><div class="u-clearfix u-sheet u-sheet-1"></div></header>
    <section class="u-clearfix u-lightbox u-section-1" id="sec-f3ca" >
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-expanded-width u-list u-list-1">
          <div class="u-repeater u-repeater-1"></div>
        </div>
        <div class="data-layout-selected u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-1">
                <div class="u-container-layout u-container-layout-1">
                  <div class="u-image u-image-circle u-preserve-proportions u-image-1" alt="" data-image-width="1920" data-image-height="1920" data-animation-name="fadeIn" data-animation-duration="2000" data-animation-delay="0"></div>
                </div>
              </div>
              <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-2">
                <div class="u-container-layout u-container-layout-2">
                  <div class="u-form u-form-1">
                    <form  action="{% url 'rango:password_reset_done' %}" class="u-clearfix u-form-spacing-35 u-form-vertical u-inner-form" source="email" name="form" style="padding: 30px;">
                      <p class="u-form-group u-form-text u-text u-text-1"> Forgotten your password? </p>
                      <p class="u-form-group u-form-text u-text u-text-2"> You should receive an email in a few minutes, asking you to reset your password. If you don't receive it, double-check your email address and&nbsp;try again</p>
                      <div class="u-align-center u-form-group u-form-submit">
                        <a href="{% url 'rango:forgot' %}" class="u-btn u-btn-round u-btn-submit u-button-style u-palette-3-light-1 u-radius u-btn-1">try again</a>
                        <input type="submit" value="submit" class="u-form-control-hidden">
                      </div>
                      <div class="u-form-send-message u-form-send-success"> Thank you! Your message has been sent. </div>
                      <div class="u-form-send-error u-form-send-message"> Unable to send your message. Please fix errors then try again. </div>
                      <input type="hidden" value="" name="recaptchaResponse">
                      <input type="hidden" name="formServices" value="c83941b3-042b-05f2-c4d8-2e12d91c8a01">
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
  
</body></html>