<!DOCTYPE html>
<html style="font-size: 16px;" lang="en"><head>

    <title>login</title>
    <link rel="stylesheet" href="page.css" media="screen">
    <link rel="stylesheet" href="login.css" media="screen">
    <script class="u-script" type="text/javascript" src="page.js" defer=""></script>
    <script src="login.js"></script>
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": ""
}</script>
</head>
  <body data-path-to-root="./" data-include-products="true" class="u-body u-xl-mode" data-lang="en"><header class="u-clearfix u-header u-header" id="sec-8216"><div class="u-clearfix u-sheet u-sheet-1">
    <body><header>
    </header> 
    <section class="u-clearfix u-section-1" id="sec-f3ca">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-expanded-width u-list u-list-1">
          <div class="u-repeater u-repeater-1"></div>
        </div>
        <div class="data-layout-selected u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-1">
                <div class="u-container-layout u-container-layout-1">
                  <div class="u-image u-image-circle u-preserve-proportions u-image-1" alt="" data-image-width="1920" data-image-height="1920" data-animation-name="fadeIn" data-animation-duration="2000" data-animation-delay="0"></div>
                </div>
              </div>
              <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-2">
                <div class="u-container-layout u-valign-top u-container-layout-2">
                  <div class="u-form u-form-1">
                    <form  class="u-clearfix u-form-spacing-35 u-form-vertical u-inner-form" source="email" name="form" style="padding: 30px;">
                      <div class="u-form-group u-form-name">
                        <label for="name-fad4" class="u-label">Username *</label>
                        <input type="text" placeholder="Enter your Name" id="name-fad4" name="username" class="u-input u-input-rectangle" required="">
                        <div class="error-message" style="display: none;"></div>

                      </div>
                      <div class="u-form-group">
                        <label for="email-fad4" class="u-label">Password *</label>
                        <input type="text" placeholder="Enter your Password" id="email-fad4" name="password" class="u-input u-input-rectangle" required="required">
                        <div class="error-message" style="display: none;"></div>
                      </div>
                      <div class="u-form-checkbox u-form-group u-form-group-3">
                        <input type="checkbox" id="checkbox-0294" name="checkbox" value="On" class="u-field-input">
                        <label for="checkbox-0294" class="u-field-label"> Remember me</label>
                      </div>
                      <div class="u-align-center u-form-group u-form-submit">
                        <a href="#" class="u-btn u-btn-round u-btn-submit u-button-style u-palette-3-light-1 u-radius u-btn-1">Log in </a>
                        <input type="submit" value="submit" class="u-form-control-hidden">
                      </div>
                      <div class="u-form-send-message u-form-send-success"> Thank you! Your message has been sent. </div>
                      <div class="u-form-send-error u-form-send-message"> Unable to send your message. Please fix errors then try again. </div>
                      <input type="hidden" value="" name="recaptchaResponse">
                      <input type="hidden" name="formServices" value="c83941b3-042b-05f2-c4d8-2e12d91c8a01">
                    </form>
                  </div>
                  <a href="https://nicepage.com/k/ranking-website-templates" class="u-border-none u-btn u-button-style u-none u-text-grey-30 u-text-hover-palette-3-base u-btn-2"> Forgot password?<span style="font-weight: 400;"></span>
                  </a>
                  <a href="https://nicepage.com/templates" class="u-border-none u-btn u-button-style u-none u-text-hover-grey-30 u-text-palette-3-base u-btn-3"> Don't have an account?</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
 
</body></html>