{% extends 'rango/base.html' %}
{% load static %}
<!-- Section for Profile -->

<!-- CSS Stylesheets -->
{% block css %}
<link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'css/profile.css' %}" type="text/css">
{% endblock %}

{% block content-it %}

<body>
    <section id="profile-info">


        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <!-- Left Column Content -->
                    <img src="https://thumbs.dreamstime.com/z/portrait-young-handsome-happy-man-wearing-glasses-casual-smart-blue-clothing-yellow-color-background-square-composition-200740125.jpg"
                        alt="Profile Image" class="profile-image">
                </div>
                <div class="col-md-8">
                    <!-- Right Column Content -->
                    <h1>Your Account</h1>
                    
                   <a href="{% url 'rango:change_password_view' %}" class="btn btn-1">Change Password</a>
                    <a href="{% url 'rango:DeleteAccount' %}" class="btn btn-2">Delete Account</a>
                    <!-- <button type="button" class="btn btn-3">Sign Out</button> -->
                    <a href="{% url 'rango:welcome' %}" class="btn btn-3">Sign Out</a>
                </div>
            </div>
        </div>
    </section>
    <section id="extra-info">
        <h2>Account Data Privacy</h2>
        <p>Your privacy and security are important to us. We adhere to strict data protection protocols, 
            ensuring that your personal information is handled safely and in compliance with applicable 
            laws and regulations. Rest assured that any data you provide is used solely for the purposes 
            outlined in our privacy policy. For more detailed information on how we safeguard your data 
            and respect your privacy, please refer to our <a href="#">Privacy Policy page.</a></p>
        <h2>Need Help?</h2>
        <p>We're here to assist you every step of the way. If you have any questions, concerns, or encounter 
            any issues while using our platform, don't hesitate to reach out to our support team at 
            <a href="#">support@examplemail.com.</a> Our dedicated team is ready to provide you with prompt assistance and ensure 
            that your experience with us is smooth and enjoyable. Whether you need technical support, assistance 
            with account management, or have general inquiries, feel free to contact us—we're here to help!</p>
    </section>
</body>
{% endblock %}
