{% extends 'rango/base.html' %}
{% load static %}

<!-- CSS Stylesheets -->
{% block css %}
<link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'css/homepage-style1.css' %}" type="text/css"> <!-- Ensure homepage-style1.css is imported after base.css -->
<link rel="stylesheet" href="{% static 'css/userpage.css' %}">
{% endblock %}

{% block content-it %}
<body>

    <main>
        <div class="box">
            <div class="boxtu">
                <img class="recipe-img"src=".." style="width: 450px;height: 400px;border-radius: 20px;"/>
            </div>
            <div class="boxname">
                <div class="boxnamezi">
                    TOMATO SPAGHETTI
                    <div class="namexzi">
                        <span>4.2</span>
                        <span><img src="{% static 'images/wujiaoxing.png' %}"
                                   style="width: 20px;height: 20px;"/> </span>
                        <span><img src="{% static 'images/wujiaoxing.png' %}"
                                   style="width: 20px;height: 20px;"/> </span>
                        <span><img src="{% static 'images/wujiaoxing.png' %}"
                                   style="width: 20px;height: 20px;"/> </span>
                        <span><img src="{% static 'images/wujiaoxing.png' %}"
                                   style="width: 20px;height: 20px;"/> </span>
                        <span>(11 reviews)</span>
                    </div>
                </div>
                <button class="favourite" style="float: left;width:35px;height: 35px;border: 0;background-color: transparent; "><img src="{% static 'images/jinqibiaoq.png' %}" style="width: 35px;height: 35px;float: left;"/></button>
            </div>
            <div class="boxjie">
<!-- {#                <div class="Introduce">Introduce</div>#}
{#                <div style="font-style: italic;padding-left: 20px;">Spaghetti with tomatoes is a simple and delicious Italian classic.#}
{#                    It combines fresh tomatoes, spices and pasta for a silky, sweet and sour taste.  This dish is packed with vitamin C and antioxidants,#}
{#                    making it a quick and healthy dinner choice.#}
{#                    The preparation process is simple and suitable for novice cooks and busy lifestyles. </div>#} -->
                <div class="score" style="float: left;width:220px;height:65px;line-height: 20px;padding: 20px 10px;">
                    <ul>
                        <li>Sweet and sour taste</li>
                        <li>dolor sit amet</li>

                    </ul>
                </div>



            </div>
            <div class="boxdi">
                <div><img src="{% static 'images/avatar.png' %}" style="width:55px;height: 55px;float: left;margin-top: 3px;"/></div>
                <div class="boxdizi">Jacky</div>
            </div>
            <div class="boxdi1">
                <div style="width:446px;height:63px; float: left;">
                    <img src="{% static 'images/shizhong.png' %}" style="width:50px;height: 50px;float: left;margin-top: 5px;margin-left: 5px;"/>
                    <div class="cook-time" style="float: left; margin-top: 15px; margin-left: 20px;font-size: 20px;">30~40min</div>
                </div>

<!-- {#                <div style="float: left;width:220px;height:65px;line-height: 20px;">#}
{#                    <ul>#}
{#                        <li>Sweet and sour taste</li>#}
{#                        <li>dolor sit amet</li>#}
{##}
{#                    </ul>#}
{#                </div>#} -->
            </div>
        </div>
    </main>

    <div class="zhuti">
        <div class="zhuti1">
            <div class="INGREDIENTS">INGREDIENTS</div>
            <ur>
                <li style="margin-left: 30px;font-style: italic;">Pasta: 250g  </li>
                <li style="margin-left: 30px;font-style: italic;">Ketchup: 200g  </li>
                <li style="margin-left: 30px;font-style: italic;">Olive oil: moderate  </li>
                <li style="margin-left: 30px;font-style: italic;">Garlic: 2 cloves, chopped  </li>
                <li style="margin-left: 30px;font-style: italic;">Onion: 1, diced  </li>
                <li style="margin-left: 30px;font-style: italic;">Fresh tomatoes: 2, diced  </li>
                <li style="margin-left: 30px;font-style: italic;">Salt: Moderate    </li>
                <li style="margin-left: 30px;font-style: italic;">Pepper: To taste   </li>
                <li style="margin-left: 30px;font-style: italic;">Dried basil: Moderate   </li>
                <li style="margin-left: 30px;font-style: italic;">Dried oregano: In moderation   </li>
                <li style="margin-left: 30px;font-style: italic;">Parmesan cheese: In moderation  </li>
                <li style="margin-left: 30px;font-style: italic;">Dried basil: Moderate   </li>
                <li style="margin-left: 30px;font-style: italic;">Dried oregano: In moderation   </li>
                <li style="margin-left: 30px;font-style: italic;">Parmesan cheese: In moderation  </li>

            </ur>
        </div>

        <div class="zhuti2">
            <div class="METHOD">METHOD</div>
            <ur style="list-style-type: none;">
                <li style="margin-left: 30px;font-style: italic; padding-bottom: 15px;">1.First, boil enough water in a large pot.  Add a little salt and a few drops of olive oil, then place the pasta in the boiling water and cook for the time indicated on the package, until the pasta is tender but still al dente.  </li>
                <li style="margin-left: 30px;font-style: italic;padding-bottom: 15px;">2.Meanwhile, in a separate pan, heat the olive oil over medium heat.  Add the chopped garlic and onion and fry until soft and golden.  </li>
                <li style="margin-left: 30px;font-style: italic;padding-bottom: 15px;">3.Add diced fresh tomatoes and continue to fry until the tomatoes soften and release their juices.  </li>
                <li style="margin-left: 30px;font-style: italic;padding-bottom: 15px;">4.Add the tomato paste to the pan, add salt, pepper, basil and oregano, stir well, then turn down the heat and cook for about 10 minutes to thicken the sauce.  </li>
                <li style="margin-left: 30px;font-style: italic;padding-bottom: 15px;">5.When the pasta is cooked, drain it and add it to the tomato sauce and mix gently to make sure the pasta is well coated with tomato sauce.  </li>
                <li style="margin-left: 30px;font-style: italic;padding-bottom: 15px;">6.To serve, garnish with some Parmesan cheese. </li>
                <li style="margin-left: 30px;font-style: italic;padding-bottom: 15px;">6.To serve, garnish with some Parmesan cheese. </li>
                <li style="margin-left: 30px;font-style: italic;padding-bottom: 15px;">6.To serve, garnish with some Parmesan cheese. </li>
                <li style="margin-left: 30px;font-style: italic;padding-bottom: 15px;">6.To serve, garnish with some Parmesan cheese. </li>
            </ur>
        </div>
    </div>


    <div class="dibu">
        <div  class="REVIEWS">
            REVIEWS
        </div>
        {# 1#}
        {% for comment in comments %}
        <div class="pinglun">
            <div>
                <img src="{% static 'images/katong.png' %}" style="width: 110px;height: 110px;float: left;">
                <div style="float: left;width: 700px;line-height: 20px;margin-top: 25px;margin-left: 20px;">
                    {{ comment.content }}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
<div id="comment_form" class="plunkaung">
    <form method="post" action="" onsubmit="return validateComment()">
        {% csrf_token %}
        <textarea name="comment_content" id="comment_content" class="kuang" placeholder="Say something good about?"></textarea>
        <button type="submit" class="submit">Submit</button>
    </form>
</div>
   <div class="add">
    <a class="revi" href="#comment_form" onclick="scrollToCommentForm()">ADD YOUR REVIEW...</a>
    </div>




</body>
<script>
    function scrollToCommentForm() {
        var commentForm = document.getElementById('comment_form');
        commentForm.style.display = 'block';
        commentForm.scrollIntoView({ behavior: 'smooth' });
    }

    function validateComment() {
        var commentContent = document.getElementById('comment_content').value;
        if (commentContent.trim() === '') {
            alert('The content cannot be empty. Please enter the content.');
            return false;
        }
        return true;
    }

    document.addEventListener('DOMContentLoaded', function() {

        const savedIDString = sessionStorage.getItem('recipeId').replace(/"/g, '');
        const savedID = parseInt(savedIDString.trim(), 10);
        console.log(savedID);

        getRecipeDetails(savedID)
        async function getRecipeDetails(ID) {
            const apiKey = '4b90bda2e14846efb68086d1be36fe12'; 
            const apiUrl = `https://api.spoonacular.com/recipes/${ID}/information?apiKey=${apiKey}`;
            console.log('finding')
            try {
                const response = await fetch(apiUrl);
                const data = await response.json();
                displayRecipeDetails(data);
            } catch (error) {
                console.error('Error fetching recipe details:', error);
            }
        }

        function displayRecipeDetails(recipe) {

            const img = document.querySelectorAll('.recipe-img');
            img.forEach((imageElement) => {
                console.log('img load');
                imageElement.src = recipe.image;  
                    });
            
            var nameElement = document.querySelector('.boxnamezi');
            nameElement.innerHTML = '<strong>' + recipe.title + '</strong>';;
            
            var authorElement = document.querySelector('.boxdizi');
            authorElement.innerHTML = recipe.sourceName;;

            var cookElement = document.querySelector('.cook-time');
            cookElement.innerHTML = recipe.readyInMinutes + '    Minutes';;
            
            const scoreDiv = document.querySelector('.score');
            scoreDiv.innerHTML = `<li> Health score: ${recipe.healthScore}</li>
                                <li> For people: ${recipe.servings}</li>`;

            const ingredientsDiv = document.querySelector('.zhuti1');
            const methodDiv = document.querySelector('.zhuti2');
            
            ingredientsDiv.innerHTML = '';
            methodDiv.innerHTML = '';

            let ingredientsHtml = '<h3>INGREDIENTS:</h3><ul>';
            recipe.extendedIngredients.forEach(ingredient => {
                ingredientsHtml += `<li>${ingredient.original}</li>`;
            });
            ingredientsHtml += '</ul>';

            let instructionsHtml = recipe.instructions ? `<h3>Method:</h3><p>${recipe.instructions}</p>` : '';
            
            ingredientsDiv.innerHTML = ingredientsHtml;
            methodDiv.innerHTML = instructionsHtml;

        }
    })
</script>

{% endblock %}